<section id="team">
    <!-- Header -->
    <!-- <header class="bg-primary text-center py-5 mb-4">
        <div class="container">
            <h1 class=" text-white"><b>Meet the Team</b></h1>
        </div>
    </header> -->

    <!-- Page Content -->


    <div class="container">
        <mat-divider></mat-divider>
        <br><br>
        <h1><b>Meet the Team</b></h1>
        <br><br>
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col mb-4">
                <div class="card border-0 shadow">
                    <img src="assets/himani.jpeg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-0">Himani Chauhan</h3>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col mb-4">
                <div class="card border-0 shadow">
                    <img src="assets/five.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-0">Harshita Gupta</h3>
                        <div class="card-text text-black-50">ML Developer</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col mb-4">
                <div class="card border-0 shadow">
                    <img src="assets/one.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-0">Aakash Rastogi</h3>
                        <div class="card-text text-black-50">Media management</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 4 -->
            <div class="col mb-4">
                <div class="card border-0 shadow">
                    <img src="assets/eight.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-0">Kavish Agarwal</h3>
                        <div class="card-text text-black-50">RnD-Electronics</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 5 -->
            <div class="col mb-4">
                <div class="card border-0 shadow">
                    <img src="assets/seven.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-0">Divyansh arya</h3>
                        <div class="card-text text-black-50">RnD-Electronics</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col mb-4">
                <div class="card border-0 shadow">
                    <img src="assets/two.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-0">Shivansh Saraswat</h3>
                        <div class="card-text text-black-50">Project Management</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col mb-4">
                <div class="card border-0 shadow">
                    <img src="assets/three.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-0">Prakhar Mishra</h3>
                        <div class="card-text text-black-50">Project Management</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col mb-4">
                <div class="card border-0 shadow">
                    <img src="assets/four.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-0">Prakhar Pratap Singh</h3>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 4 -->
            <div class="col mb-4">
                <div class="card border-0 shadow">
                    <img src="assets/six.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-0">Diya Veerbhan</h3>
                        <div class="card-text text-black-50">RnD-Electronics</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 5 -->
            <div class="col mb-4">
                <div class="card border-0 shadow">
                    <img src="assets/user.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-0">Harsh Varshney</h3>
                        <div class="card-text text-black-50">RnD-Electronics</div>
                    </div>
                </div>
            </div>

        </div>
        <!-- https://source.unsplash.com/ZI6p3i9SbVU/500x350 -->

    </div>
</section>