<section id="products">

    <div class="container">

        <br><br>
        <mat-divider></mat-divider>
        <br><br>
        <h1><b>Our Product</b></h1>
        <div class="row">
            <div class="col">
                <button mat-stroked-button mat-raised-button class="btn01 ">
            <div class="card product-card">
                <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Discription</th>
                        <th>Price</th>
                        <th>Add To Cart</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img src="../../assets/product01.jpg"></td>
                        <td style="text-align: left;">The products caters to all the
                          problems related topathogen’s <br>
                          infections. The products makes everything automatic<br>
                           from sanitizing your hand to measure your body temperature.<br>
                           Public place product will also aware people about knowing<br>
                          their health status by scaning their Aarogya setu app.<br>
                           The uniqueness of this product are as follows:-<br>
                          *Fully Automatic<br>
                          *Zero contact<br>
                          *Cheaper</td>
                        <td>₹ 3500</td>
                        <td><button mat-raised-button color="accent">Add to Cart</button></td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>
        </button>
        <br><br>
        <button mat-stroked-button mat-raised-button class="btn01 ">
                <div class="card product-card">
                    <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th>Product</th>
                            <th>Discription</th>
                            <th>Price</th>
                            <th>Add To Cart</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><img src="../../assets/product02.png"></td>
                            <td style="text-align: left;">The products caters to all the
                              problems related topathogen’s <br>
                              infections. The products makes everything automatic<br>
                               from sanitizing your hand to measure your body temperature.<br>
                               Public place product will also aware people about knowing<br>
                              their health status by scaning their Aarogya setu app.<br>
                               The uniqueness of this product are as follows:-<br>
                              *Fully Automatic<br>
                              *Zero contact<br>
                              *Cheaper</td>
                            <td>₹ 3999</td>
                            <td><button mat-raised-button color="accent">Add to Cart</button></td>
        </tr>
        </tbody>
        </table>
    </div>
    </div>
    </button>
    <br> <br><br>
    <!-- <button mat-stroked-button mat-raised-button class="p-0 ">
            <div class="card " style="width:400px">
                <p>Product</p>
                <img class="card-img-top" src="../../assets/product01.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
        </button> -->
    </div>
    </div>
    </div>

</section>